.particular_areas{
    color: #333461;
font-size: 48px;
font-family: Kumbh Sans;
font-weight: 800;
line-height: 56px;
letter-spacing: -0.48px;
}
.particular_areas2{
    color: #4A556C;
font-size: 17px;
font-family: Kumbh Sans;
line-height: 25px;
}