/* .bg-image {
    background-image: url('../../assets/banner/Banner5.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
  } */
  .bg-image {
    background-image: url('../../assets/banner/Banner5.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
  }

  @media (max-width: 768px) {
    .bg-image {
      width: 50%;
    }
  }