.banner-1 {
    background-image: url(../../assets/banner1.png);
    height: 601px;
    width: 100%;
}

.pera1 {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 1;
}

.pera2 {
    width: 533px;
    height: 256px;
    top: 944.2471923828125px;
    left: 152px;
    opacity: 0.699999988079071px;

}

.heading1 {
    font-family: Inter;
    font-size: 60px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: -1px;
    text-align: left;
}

.heading2 {
    width: 427px;
    height: 51.262725830078125px;
    top: 892.984375px;
    left: 152px;
}

#bannerbtn1 {
    width: Hug (131px);
    height: Hug (44px);
    top: 418.01025390625px;
    left: 115px;
    padding: 10px 27px 10px 27px;
    border-radius: 5px;
    border: 1px;
    gap: 10px;
    background: linear-gradient(95.06deg, #2E3192 1.41%, #7000FF 94.54%),
        linear-gradient(0deg, #FFFFFF, #FFFFFF);
    cursor: pointer;
}

.sectiones1 {
    top: 500px;
    left: 220px;
    position: absolute;
    display: inline-flex;
}

#bannerbtn1:hover {
    outline: 1px solid #FFFFFF;
}

.box {
    width: 170px;
    height: 200px;
    border-radius: 10px;
    background: white;
    object-fit: contain;
    box-shadow: 0px 1px 14px -1px #000000;
    margin-left: 12px;
}

.box:hover {
    background: linear-gradient(127.99deg, #232D86 12.43%, #611D9E 84.94%),
        linear-gradient(0deg, #FFFFFF, #FFFFFF);
    outline: 1px solid white;
    color: white;
    width: 180px;

}

.img1 {
    margin: 4px 0px;
    padding: 15px;
    background-size: 100% 100%;
    border-radius: 17px;
    height: 103px;
    width: 100%;
    object-fit: contain;
}

.tiltes {
    font-family: Inter;
    font-size: 14px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 1px;
    text-align: center;
}


/* Section2 */
.Section2 {
    margin-top: 200px;
}

#Sectionbtn2 {
    width: 222px;
    height: 44px;
    top: 1226.1517333984375px;
    left: 154px;
    border-radius: 5px;
    background: linear-gradient(95.06deg, #232D86 1.41%, #661CA0 94.54%);
}

#Sectionbtn2:hover {
    outline: 1px solid #101010 !important;
}

.heading2 {
    color: #000000 !important;
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;

}

.pera2 {
    color: #000000 !important;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -1px;
    text-align: justified;
}
.pera3 {
    color: #000000 !important;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -1px;
    text-align: justified;
}
.heading3 {
    color: #000000 !important;
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
}

/* section3 */
.Sectionimg3{
    height: 400px;
    background-size: 100%;
   width:100%;
}
.box3{
    width: 510.5714111328125px;
    height: 468.163330078125px;
    top: 1800.870849609375px;
    left: 725.478515625px;
    border-radius: 16px;
    border: 3px solid gainsboro;
    position: absolute;  
}
.box3:hover{
  border: 3px solid #c7c4c4;
  cursor: pointer;
}

/* 6 */
.box6{
    background-color: #fffbfb;
    padding: 10px;
    border-radius: 15px;
    box-shadow:0px 0px 11px -1px black;
}